@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --color-bg: #1f1f38;
    --shaded:linear-gradient(170deg, rgba(218, 35, 10, 0.08) 1.85%, rgba(98, 0, 255, 0.08) 98%);
    --sample:#50505f;
    --color-bg-varient: #2c2c6c;
    --clr-bg:rgba(255, 255, 255, 0.333);
    --color-primary: #4db5ff;
    --color-primary-varient: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
  }
  html{
    scroll-behavior: smooth;
  }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #f5f4f4;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.horizontal-bar {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-bg);
    margin-top: 2em;
    margin-right: 10em;
    
  }
nav{
  background: linear-gradient(95deg, #ffffff 3.2%, #e9e9e9 99.5%);
    padding: 0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  
}

/* nav item animations */
.nav-items a {
    position: relative;
    display: inline-block;
    margin: 6px 35px 2px;
    outline: none;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(244, 242, 242, 0.3);
    font-size: 0.9em;
  }
  
  nav a:hover,
  nav a:focus {
    outline: none;
  }
  
  .nav-items a {
    overflow: hidden;
    padding: 0 4px;
    height: 1.5em;
  }
  
  .nav-items a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  
  .nav-items a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 600;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .nav-items a:hover span,
  .nav-items a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  /** home section **/
  .home{
    margin: 4% 12% 10% 15%;
    padding: 10%;
    display: flex;
    color: #000000;
    justify-content: center;
  }
  .name{
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 2.2em;
  }
  img{
    width: 15em;
    border-radius: 10px;
    
  }

.img{
    margin: 0 10% 0 10%;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
/* CSS */

  
  .img:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: calc(100% );
    height: calc(96%);
    animation: img 5s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes img {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .img:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    background: #b8b4b4;
    left: 0;
    border-radius: 10px;
  }
  .typewriter{
    margin-top: 0.5em;
    height: 2%;
    font-family: 'Courier New', Courier, monospace;
  }

  h5{
    text-align: center;
    color: #868585;
    font-weight: 500;
  }
  p{
    color: #a19f9f;
    font-weight: 400;
  }
button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 margin-top: 1em;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}
  /**Skills section**/
  .skills{
   margin-top: 6em; 
  }
  .heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2em;
  }
  .skill-container{
    display: flex;
    margin: 4% 25% 10% 25% ;
    justify-content: space-between;
  }
  .skill{
    text-align: center;
    width: 23%;
    border: #c6ced3 solid 0.01em;
    padding-bottom: 2%;
    background-color: #fff;
    border-radius: 5%;
    margin-bottom: 6%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  li{
    list-style: none;
    color: #605f5f;
  }
  /**Projects section**/
  .projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
    grid-auto-rows: auto; 
    margin: 5% 15% 5% 15%;

    justify-items: center; /* Center the content along the row axis */
    align-items: center; /* Center the content along the column axis */
    grid-row-gap: 2em;
    grid-column-gap: 1em;
  }
  .project{
    position: relative;
    width: 80%;
    border-radius: 4%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 4%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  
  .project:hover .image {
    opacity: 0.3;
  }
  
  .project:hover .middle {
    opacity: 1;
  }
  
  .overlay {
    background-color: #003082;
    color: white;
    font-size: 16px;
    margin: 0 1% ;
    padding:10%; 
    border-radius: 5%;
  }
  h3{
    margin-top: 3%;
  }
  .github{
    color: #ffffff;
  }
/**Contact**/
.contact{
  margin: 20% 10% 10% 10%;
}
/**Contact section**/
  .background {
    display: flex;
  }
  .container {
    flex: 0 1 800px;
    margin: 2% 0 0 17%;
    
  }
  
  .screen {
    position: relative;
    background: #fdfdfd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 1px 2px;
    background: #fcfcff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #f7f7f7;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #000000;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #000000;
  }
  
  .app-contact {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 8px;
    color: #000000;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #0b02ff8d;
  }

  .btn-conteiner {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #17076f;
    --color-outline: #ffffff80;
    --color-shadow: #00000080;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  @media screen and (width< 800px) and (max-height: 950px) {
    nav {
      display: none;
    }
    .home{
      display: block;
      margin: 0 0 0 0;
    }
    .name{
      margin: 20% 5% 0 2%;
    }
    .typewriter{
      margin: 5% 0 10% 2%;
    }
    .horizontal-bar{
      margin: 10% 60% 10% 2%;
    }
    img{
      margin-top: 20% 5% 5% -5%;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
/* CSS */
  .img:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    background-size: 100%;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: calc(91% );
    height: calc(99%);
    animation: img 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes img {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .img:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    background: #b8b4b4;
    left: 0;
    border-radius: 10px;
  }
  .skill-container{
    display: block;
    width: 70em;
    margin: 4% 0 10% 18% ;
    justify-content: space-between;
  }
  .projects-container{
    display: block;
    margin: 5% 0 5% 20%;
    justify-items: center; /* Center the content along the row axis */
    align-items: center; /* Center the content along the column axis */
  }
  .project{
    margin: 2% 0 5% 0;
  }
  .screen-body-item.left {
    display: none;
  }
  .container {
    margin: 0 0 0 5%;
    
  }
}