/************ Skills Css ************/
.skill {
  margin-top: 25%;
  position: relative;
  margin-left: -70%;
  
}
.skill-bx {
  background: rgba(0,0,0,0.3);
  border-radius: 60px;
  text-align: center;
  padding: 50px 50px;
}

.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 55px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

